<!--<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%#=image_tag("Inle.png", size: "1024x560", alt: "Edit Entry")%>
    </div>
    <div class="item">
      <%#=image_tag("WaterFall.png", size: "1024x560", alt: "Edit Entry")%>
    </div>
    <div class="item">
      <%#=image_tag("MotoFuji.png", size: "1024x560", alt: "Edit Entry")%>
    </div>
    <div class="item">
      <%#=image_tag("Aus.png", size: "1024x560", alt: "Edit Entry")%>
    </div>
    <div class="item">
      <%#=image_tag("Tiger.png", size: "1024x560", alt: "Edit Entry")%>
    </div>
  </div>
</div>
</div>
-->


<div class="container">
  <div class="row">
    <div class="col-sm-8">

    <div class="carousel slide" id="indexCarousel" data-ride="carousel">
      <oi class="carousel-indicators">
        <li class="active" data-target="#indexCarousel" data-slide-to="0"></li>
        <li data-target="#indexCarousel" data-slide-to="1"></li>
        <li data-target="#indexCarousel" data-slide-to="2"></li>
        <li data-target="#indexCarousel" data-slide-to="3"></li>
        <li data-target="#indexCarousel" data-slide-to="4"></li>

      </oi>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("Inle.png", alt: "Edit Entry") %>
          <div class="carousel-caption">
            <h4>Tesuto</h4>

            <p>Tesuto 222</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("WaterFall.png", alt: "Edit Entry") %>
        </div>
        <div class="item">
          <%= image_tag("MotoFuji.png", alt: "Edit Entry") %>
        </div>
        <div class="item">
          <%= image_tag("Aus.png", alt: "Edit Entry") %>
        </div>
        <div class="item">
          <%= image_tag("Tiger.png", alt: "Edit Entry") %>
        </div>
      </div>
      <a class="carousel-control left" data-slide="prev" href="#indexCarousel"> &lsaquo; </a>
      <a class="carousel-control right" data-slide="next" href="#indexCarousel">&rsaquo;</a>

    </div>
  </div>
  <div class="col-sm-4">
    Meet Ilya Sorokin, the 25 year old, National Research Nuclear University MEPhI Graduate.
    Text
    text
    text
  </div>
</div>