<!DOCTYPE html>
<html>
  <head>
    <title>Adventure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  <div>
    <header>
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills ">
              <li><a href="#">About Ilya</a></li>
              <li> <%= link_to "About Ilya", root_path %></li>

              <li><a href="#">Routes</a></li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pictures <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Australia</a></li>
                        <li><a href="#">Japan</a></li>
                        <li><a href="#">Thailand</a></li>
                        <li><a href="#">Myanmar</a></li>
                    </ul>
                </li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Contact</a></li>
                <li> <%= link_to "Find Me", findme_path %></li>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
    </header>
    </div>
        <%= yield %>
   <div class="container">
     <p>© 2016 by Ilya Sorokin. All Rights Reserved.  All pictures and video are copyrighted and property of Ilya Sorokin. Please contact for licensing</p>
   </div>
  </body>
</html>
