<!DOCTYPE html>
<html>
  <head>
    <title>Adventure</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  <div>
    <header>
        <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav nav-pills ">
              <li> <%= link_to "About Ilya", root_path %></li>

              <li><a href="#">Routes</a></li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Travels <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <%@travels = Travel.all%>
                        <% @travels.each do |travel|%>
                            <li><a><%= link_to travel.name, travel_path(travel) %></a></li>
                        <%end%>
                    </ul>
                </li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Contact</a></li>
                <li> <%= link_to "Find Me", findme_path %></li>
                <li> <%= link_to "Admin", admin_path %></li>

              <% if current_user%>
                    <li> Signed in as: <%= current_user.name %> - <%= image_tag( @auth['info']['image'], width: '40', height: '40')%></li>
                    <li><%= link_to "Sign Out" , 'sign_out', method: :delete %></li>
                <% else %>
                    <li><%= link_to "auth/facebook" do %> <%= image_tag('facebook.png', width: '40', height: '40')%><%end%></li>
                    <li><%= link_to "auth/github" do %> <%= image_tag('github.png', width: '40', height: '40')%><%end%></li>
                <% end %>
            </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
        </nav>
    </header>
    </div>
        <%= yield %>
   <div class="container">
     <p>© 2016 by Ilya Sorokin. All Rights Reserved.  All pictures and video are copyrighted and property of Ilya Sorokin. Please contact for licensing</p>
   </div>
  </body>
</html>
